

/* .main-container {
    width: 80%;
    margin: 0 auto;
} */

/* inizo header  */
.container1 {
    background-image: url(/img/pattern.png);
    background-color: #4EA0FF;
    background-size: cover;
    background-size: 20%;   
}

.img-logo {
    width: 15%;
    height: 15%;
    padding-top: 50px;
}
/* fine header */

#headline {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

.photo-description {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: grey;
}

.scritta-grigia {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: grey;
}


#scritta {
    color: #4EA0FF;
}


/* Background giallo per i paragrafi */

.yellow-background {
    background-color: yellow;
}





/* Inzio CSS per la tabella  */

table {
    border-collapse: collapse;
}

.td12 {
    width: 25%;
}

thead {
    background-color: #4EA0FF;
    color: white;
}

.riga1-2 {
    background-color: #B1E5F2;
}

/* Fine CSS per la tabella  */


/* Ultime due immagini background */
#img1 {
    height: 200px;
    width: 250px;
    color: white;
    
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img2 {
    height: 200px;
    width: 250px;
    color: white;
    
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
