

.body-container {
    width: 60%;
    margin: 0 auto;
}


.container1 {
    background-image: url(/img/pattern.png);
    background-color: #4EA0FF;
       
}



/* Background giallo per i paragrafi */

.yellow-background {
    background-color: yellow;
}





/* Inzio CSS per la tabella  */

table {
    border-collapse: collapse;
}

.td12 {
    width: 25%;
}

thead {
    background-color: #4EA0FF;
    color: white;
}

.riga1-2 {
    background-color: #B1E5F2;
}

/* Fine CSS per la tabella  */